.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #282d32;
}

.footer-container p {
    font-size: 13px;
    color: #aaa;
}