#loginBox {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 265px;
}

#loginBox div {
    margin-bottom: 5px;
}

#loginHeader {
    margin-bottom: 15px;
}

#needanAccount {
    width: 40ch;
    margin: 20px auto;
    text-align: start;
}