body {
    background-color: #EBEAE6;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.App {
    width: 545px;
    padding: 0px 100px;
}

.sectionTitle {
    font-size: 36px;
    font-weight: bold;
}

#addBtn {
    width: 60px;
    height: 60px;
    color: #000;
    border-color: #000;
    margin-top: 8px;
}